---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Img404 from "../img/dog-burning.gif"
---

<Layout title="Under Construction">
    <div class="">
        <p class="text-[40px] text-center mb-3">This section is under Construction :D</p>
        <img src={Img404.src} alt="" srcset="" class="m-auto">
    </div>
    <Footer />
</Layout>
