---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md")
---

<Layout title="yw4rf / blog">
    <h1 class="text-white text-6xl text-center pt-24">Astro Art</h1>
    {
        allPosts.map((post) => (
        <li>
            <a href={post.url}>{post.frontmatter.title}</a>
        </li>
        ))
    }
</Layout>
