---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Title from "../components/Title.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

function parseDate(dateString) {
    const [month, day, year] = dateString.split('/');
    return new Date(year, month - 1, day); 
}

const sortedPosts = allPosts.sort((a, b) => {
    const dateA = parseDate(a.frontmatter.date);
    const dateB = parseDate(b.frontmatter.date);
    return dateB - dateA; 
});
---

<Layout title="yw4rf / blog">
    <Title title="Blog"></Title>
    <ul>
        {sortedPosts.map((post) => (
            <li class="list-none text-left">
                <a href={post.url}>{post.frontmatter.date}<span class="text-[#c5ae9b] font-normal pl-5">{post.frontmatter.title}</span>
                </a>
            </li>
        ))}
    </ul>
    <Footer />
</Layout>
