---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import ImgBackground from "../img/image.jpg";
import WorksCard from "../components/WorksCard.astro"; 
---

<Layout title="yw4rf / home">
	<h1
		class="text-[#ffffff] text-center font-semibold text-[40px] sm:text-5xl md:text-6xl lg:text-7xl mb-[-22px] sm:mb-[-18px] md:mb-[-24px] relative z-[3]"
	>
		tobig<span class="text-[#806f61]">fioroni</span>
	</h1>
	<div class="text-left max-w-[600px] mx-auto">
		<img
			src={ImgBackground.src}
			alt="A-Seated-Saint-or-Prophet"
			class="w-full mx-auto mb-4 relative z-[2]"
		/>
		<div class="flex items-start justify-start mt-6">
			<p
				class="text-base font-semibold sm:text-lg md:text-xl lg:text-2xl z-[3]"
			>
				Tobias G. Fioroni aka yw4rf, is a freelance web developer with
				19yo based in Argentina with a deep passion for programming,
				hardware and cybersecurity. He is currently pursuing a technique
				in Cybersecurity at UNO University in Buenos Aires and is
				working towards obtaining the ISC2 CC certification (Certified
				in Cybersecurity) <a
					class="underline font-normal text-[#c5ae9b]"
					href="/about">.../about/</a
				>
			</p>
		</div>
		<div class="mb-5"></div>
		<Footer />
	</div>
</Layout>
