---
import Layout from "../layouts/Layout.astro"
---

<Layout title="yw4rf / home">
	<h1 class="text-white text-6xl text-center pt-24">HOME</h1>
	<img src="../../public/A-Seated-Saint-or-Prophet.jpg" alt="" srcset="" class="w-auto p-[20px] m-auto">
</Layout>