---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import KnowLanguages from "../components/KnowLanguages.astro";
import KnowFrakeworksLibraries from "../components/KnowFrameworksLibraries.astro";
import KnowTools from "../components/KnowTools.astro";
import ImgBackground from "../img/image.jpg";
import IndexWorkCard from "../components/IndexWorkCard.astro";
---

<Layout title="yw4rf / home">
	<h1
		class="text-[#ffffff] text-center font-semibold text-[40px] sm:text-5xl md:text-6xl lg:text-7xl mb-[-22px] sm:mb-[-18px] md:mb-[-24px] relative z-[3]"
	>
		tobig<span class="text-[#9b7d73]">fioroni</span>
	</h1>
	<div class="max-w-[600px] mx-auto">
		<img
			src={ImgBackground.src}
			alt="A-Seated-Saint-or-Prophet"
			class="w-full mx-auto mb-4 relative z-[2]"
		/>

		<a
			class="underline relative float-right mt-[-45px] mr-4 z-[3] font-bold text-[38px] sm:text-5xl text-[#9b7d73]"
			href="/about">.../About/</a
		><div class="mt-10 mb-9 sm:mb-16">
			<p
				class="text-base font-semibold sm:text-lg md:text-xl lg:text-2xl z-[3]"
			>
				Tobias G. Fioroni aka yw4rf, is a freelance developer with 19yo
				based in Argentina with a deep passion for programming, hardware
				and cybersecurity. He is currently pursuing a technique in
				Cybersecurity at UNO University in Buenos Aires and is working
				towards obtaining the ISC2 CC certification (Certified in
				Cybersecurity)
			</p>
		</div>
		<IndexWorkCard />
		<h2
			class="text-[40px] text-right mt-14 mb-[-33px] mr-3 text-[#9b7d73] font-semibold"
		>
			Knowledge/
		</h2>
		<KnowLanguages />
		<KnowFrakeworksLibraries />
		<KnowTools />
		<Footer />
	</div>
</Layout>
