---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

import ImgBackground from "../img/image.jpg";
---

<Layout title="yw4rf / home">
	<h1 class="text-[#ffffff] font-semibold text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center mb-[-24px] relative z-[3]">
		tobig<span class="text-[#806f61]">fioroni</span>
	</h1>
		<div class="text-left max-w-[600px] mx-auto">
			<img
				src={ImgBackground.src}
				alt="A-Seated-Saint-or-Prophet"
				class="w-full max-w-[600px] mx-auto mb-4 relative z-[2]"
			/>
			<div class="flex items-start justify-start mt-6">
				<p class="text-base font-semibold sm:text-lg md:text-xl lg:text-2xl text-left  z-[3]">
					I am Tobias Fioroni AKA yw4rf, i'm 19yo and i'm living in Argentina. I'm certificated in CHE / ISC2 CC / CISCO CC / Google CERTIFIED SOC. Im currently studying Cybersecurity Tech UNSO University at BA <a class="underline text-[#806f61] hover:text-[#c5ae9b]" href="/blog">../about/</a>
				</p>
			</div>
			<Footer />
		</div>
</Layout>
