---
import Layout from "../layouts/Layout.astro";
import ImgBackground from "../img/image.jpg";
---

<Layout title="yw4rf / home">
	<h1 class="text-[#000000] font-semibold text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center pt-24">
		root@yw4rf:~$
	</h1>
	<div class="px-4 sm:px-8 md:px-16 lg:px-[400px] text-center">
		<img
			src={ImgBackground.src}
			alt="A-Seated-Saint-or-Prophet"
			class="w-full max-w-[600px] mx-auto mb-4"
		/>
		<p class="text-base font-semibold sm:text-lg md:text-xl lg:text-2xl">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia officia vitae nesciunt id hic voluptatum magni repudiandae animi facilis dolores est, dolore pariatur dolor adipisci omnis. Eius iste modi ratione.
			Et ullam, dolorem commodi necessitatibus laborum dignissimos. Fuga exercitationem nam alias enim porro laborum velit facilis sapiente deleniti, iure in, veritatis, cupiditate maiores repudiandae quidem blanditiis unde reprehenderit ipsam eius?
			Quidem est, officiis explicabo animi commodi vitae, molestiae dolore maiores facere nemo omnis. Ullam cupiditate incidunt deleniti fugiat eos, eaque aspernatur nihil maiores dolore fuga iste! Natus sequi saepe nisi?
			Non, corporis molestias! Minima voluptate a, autem tempora, adipisci accusantium commodi distinctio facere ea, exercitationem doloribus reiciendis harum illo dolor cum aliquid voluptas molestias. Nostrum iste consequuntur eaque laudantium omnis!
		</p>
	</div>
	
	
	
	
	
</Layout>
