---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import KnowLanguages from "../components/KnowLanguages.astro";
import KnowFrakeworksLibraries from "../components/KnowFrameworksLibraries.astro";
import KnowTools from "../components/KnowTools.astro";
import ImgBackground from "../img/image.jpg";
import IndexWorkCard from "../components/IndexWorkCard.astro";
---

<Layout title="yw4rf / home">
	<h1
		class="text-[#ffffff] text-center font-semibold text-[40px] sm:text-5xl md:text-6xl lg:text-7xl mb-[-22px] sm:mb-[-18px] md:mb-[-24px] relative z-[3]"
	>
		tobig<span class="text-[#9b7d73]">fioroni</span>
	</h1>
	<div class="max-w-[600px] mx-auto">
		<div class="">
			<img
				src={ImgBackground.src}
				alt="A-Seated-Saint-or-Prophet"
				class="w-full mx-auto mb-4 relative z-[2]"
			/><div class="relative z-[3] text-right">
				<p
					class="text-[13px] font-semibold md:text-[17px] text-[#000] leading-none mt-[-60px] sm:mt-[-70px] sm:mr-7 mr-5"
				>
					DROP ME A LINE<span class="block underline text-[#000]"
						><a href="" class="font-bold sm:font-medium"
							>tobigfioroni@gmail.com</a
						></span
					>
				</p>
			</div>
		</div>
		<div class="text-left sm:ml-5 mt-14">
			<a
				class="underline font-bold text-[38px] sm:text-5xl text-[#9b7d73]"
				href="/about">.../About/</a
			>
		</div>
		<div class="mt-3 mb-9 sm:mb-16">
			<p
				class="text-base font-semibold sm:text-lg md:text-xl lg:text-2xl z-[3] sm:indent-5"
			>
				Tobias G. Fioroni aka yw4rf, is a freelance developer with 19yo
				based in Argentina with a deep passion for programming, hardware
				and cybersecurity. He is currently pursuing a degree in
				Cybersecurity at UNO University in Buenos Aires and is working
				towards obtaining the ISC2 CC certification (Certified in
				Cybersecurity)
			</p>
		</div>
		<IndexWorkCard />
		<KnowLanguages />
		<KnowFrakeworksLibraries />
		<KnowTools />
		<div class="text-left sm:ml-5 mt-14">
			<a
				class="underline font-bold text-[38px] sm:text-5xl text-[#9b7d73]"
				href="/404">.../Blog/</a
			>
		</div>
		<div class="mt-3 mb-9 sm:mb-16">
			<h3 class="text-base font-semibold sm:text-lg md:text-xl lg:text-2xl z-[3] sm:indent-5">
				I have a blog where I publish everything I learn about programming and cybersecurity, essentially covering everything related to the world of technology. It helps me document my knowledge, allowing me to review what I've learned and improve in the field.
			</h3>	
		</div>
		<Footer />
	</div>
</Layout>
