---
import Layout from "../layouts/Layout.astro";
---

<Layout title="yw4rf / home">
	<h1 class="text-[#000] text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center pt-24">
		root@yw4rf:~$
	</h1>
	<div class="px-4 sm:px-8 md:px-16 lg:px-[400px] text-center">
		<img
			src="../../public/A-Seated-Saint-or-Prophet.jpg"
			alt="A Seated Saint or Prophet"
			class="w-full max-w-[600px] mx-auto mb-4"
		/>
		<p class="text-base sm:text-lg md:text-xl lg:text-2xl">
			Hello, my name is Tobias Fioroni and I am an 18yo freelance
			developer based in Argentina. My primary specialization is back-end
			web development but I prefer cybersecurity. I have extensive
			experience in web development, UX/UI design, branding, and I am
			currently learning 3D modeling and mobile app development.
		</p>
	</div>
	
	
	
	
	
</Layout>
