---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
import Header from "../components/Header.astro"
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<Nav />
<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-6xl text-[#fff] text-center">yw4rf</h1>
	</main>
	<script src="../components/Nav.js"></script>

</Layout>