---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro";
import Title from "../components/Title.astro";
---

<Layout title="yw4rf / Works">
    <Title title="Works"></Title>
    <Footer />
</Layout>