<div class="inline-block text-left text-2xl sm:text-3xl md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-5xl mt-7">
    <i class="fab fa-github mr-2"></i>
    <i class="fab fa-linkedin mr-2"></i>
    <i class="fab fa-instagram mr-2"></i>
    <i class="fab fa-twitter mr-2"></i>
    <i class="fab fa-whatsapp mr-2"></i>
    <div class="mt-[9px]">
        <p class="text-lg font-medium">
            AVAILABLE FOR FREELANCE WORK <span
                class="block underline mt-[-8px] text-[#806f61]"
                ><a href="">tobigfioroni@gmail.com</a></span>
        </p>
    </div>
</div>
<p class="mt-10 text-center text-xs opacity-20">tobigfioroni @all rights reserved 2024</p>