<div
    class="text-left text-2xl sm:text-[28px] md:text-[30px] lg:text-[32px] xl:text-[33px] 2xl:text-[36px] mt-14"
>
    <div class="text-lg sm:text-xl">
        <div class="block">
            <a class="hover:bg-[#4242423f] hover:transition-opacity ease-out py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-github mr-3 mb-3"></i>github/yw4rf</a
            >
        <div class="block">
            <a class="hover:bg-[#4242423f] py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-linkedin mr-3 mb-3"></i>linkedin/tobigfioroni</a
            >
        </div>
        <div class="block">
            <a class="hover:bg-[#4242423f] py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-instagram mr-3 mb-3"></i>instagram/yw4rf</a
            >
        </div>
        <div class="block">
            <a class="hover:bg-[#4242423f] py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-twitter mr-3 mb-3"></i>x/yw4rf</a
            >
        </div>
        <div class="block">
            <a class="hover:bg-[#4242423f] py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-whatsapp mr-3 mb-3"></i>+54 9 11 2847-7145</a
            >
        </div>
    </div>
    <div>
        <p
            class="text-[16px] md:text-[20px] text-[#fff] leading-6 mt-3"
        >
            AVAILABLE FOR FREELANCE WORK<span
                class="block underline text-[#9b7d73]"
                ><a href="" class="font-normal">tobigfioroni@gmail.com</a></span
            >
        </p>
    </div>
</div>
<p class="mt-10 text-center text-xs opacity-20">
    tobigfioroni @all rights reserved 2024
</p>
