<div
    class="text-left text-2xl sm:text-[28px] md:text-[30px] lg:text-[32px] xl:text-[33px] 2xl:text-[36px] mt-14"
>
    <div class="text-lg sm:text-xl">
        <div class="block">
            <a class="hover:bg-[#4242423f] hover:transition-opacity ease-out py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-github mr-3 mb-3"></i>github/yw4rf</a
            >
        <div class="block">
            <a class="hover:bg-[#4242423f] py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-linkedin mr-3 mb-3"></i>linkedin/tobigfioroni</a
            >
        </div>
        <div class="block">
            <a class="hover:bg-[#4242423f] py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-instagram mr-3 mb-3"></i>instagram/yw4rf</a
            >
        </div>
        <div class="flex items-center">
            <a
                target="_blank"
                class="flex items-center py-1 hover:bg-[#4242423f] rounded-lg hover:transition-opacity ease-out mb-1"
                href="https://github.com/yw4rf/discord-clone-homepage"
            >
                <svg class="size-4 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1200 1227">
                    <path fill="#fff" d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"/>
                </svg>
                x/yw4rf
            </a>
        </div>
        
        <div class="block">
            <a class="hover:bg-[#4242423f] py-1 pr-4 rounded-lg" href=""
                ><i class="fab fa-whatsapp mr-3 mb-3"></i>+54 9 11 2847-7145</a
            >
        </div>
    </div>
    <div>
        <p
            class="text-[16px] md:text-[20px] text-[#fff] leading-6 mt-3"
        >
            AVAILABLE FOR FREELANCE WORK<span
                class="block underline text-[#ffffffd2]"
                ><a href="" class="font-normal">tobigfioroni@gmail.com</a></span
            >
        </p>
    </div>
</div>
<p class="mt-10 text-center text-xs opacity-20">
    tobigfioroni @all rights reserved 2024
</p>
