<nav class="navbar">
  <div class="content">
    <div class="logo">
      <a href="/">root@yw4rf:~$</a>
    </div>
    <ul class="menu-list">
      <div class="icon cancel-btn">
        <i><svg class="size-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"/>
        </svg>
        </i>
      </div>
      <li><a href="/">home</a></li>
      <li><a href="/blog">about</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/works">projects</a></li>
    </ul>
    <div class="icon menu-btn">
      <i><svg class="size-9 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
      </svg>
      </i>
    </div>
  </div>
</nav>

<script src="../scripts/Nav.js"></script>

<style>
  ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: #8f8f8f;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 4;
  padding: 14px 0;
  transition: all 0.3s ease;
  background: #000;
}

.navbar.sticky {
  background: #0000005b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #f5f5f5;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #8f8f8f;
}

.icon {
  color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  color: #f5f5f5;
  top: 20px;
}

@media (max-width: 2560px) {
  .container {
    width: 26%;
  }
}

@media (max-width: 1884px) {
  .container {
    width: 35%;
  }
}

@media (max-width: 1536px) {
  .container {
    width: 44%;
  }
}

@media (max-width: 1368px) {
  .container {
    width: 40%;
  }

}

@media (max-width: 1281px) {
  .container {
    width: 45%;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: auto;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #000;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

/* Tablet 768px */

@media (max-width: 768px) {
  .content {
    padding: 0 30px;
  }
}

/* Mobile L 425px */

@media (max-width: 425px) {
  .content {
    padding: 0 25px;
  }
}

/* Mobile M 380px */

@media (max-width: 380px) {
  .content {
    padding: 0 25px;
  }
}

/* Mobile S 320px */

@media (max-width: 320px) {
  .content {
    padding: 0 20px;
  }
}

@media (max-width: 280px) {
  .content {
    padding: 0 20px;
  }
}

</style>