---
import ImgTechnology from "../img/technology.png";
import ImgKnowledge from "../img/knowledge.png";
---

<div class="border-[#4242421a] border-[8px] rounded-[8px] px-[15px] pt-10 mt-16">
<div class="text-[#9CA3AF]">
    <div class="flex flex-col md:flex-row md:gap-12">
        <div class="text-center">
            <img
                src={ImgTechnology.src}
                alt="tobigfioroni"
                class="w-[120px] h-auto m-auto"
            />
            <h3 class="text-[#fff] text-xl font-bold mt-4">
                TECHNOLOGY
            </h3>
            <p class="text-lg leading-relaxed">
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Delectus at id dicta voluptas quidem reprehenderit
                voluptatum ipsum quod sunt blanditiis omnis recusandae
                possimus veritatis, eligendi harum asperiores libero
                totam eveniet?
            </p>
        </div>
        <div class="text-center">
            <img
                src={ImgKnowledge.src}
                alt="tobigfioroni"
                class="w-[120px] h-auto m-auto"
            />
            <h3 class="text-center text-[#fff] text-xl font-bold mt-4">
                KNOWLEDGE
            </h3>
            <p class="text-lg leading-relaxed">
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Dolorem minima esse facilis voluptatem asperiores
                aperiam! Fuga fugiat, quidem nihil veritatis temporibus
                expedita. Quis repudiandae quia similique, provident
                quod quae ducimus!
            </p>
        </div>
    </div>
</div>
</div>