---
import Nav from "../components/Nav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<div class="max-w-[600px] m-auto">
			<main
				class="pt-[85px] sm:max-w-[490px] md:max-w-[600px] lg:max-w-[700px] mx-auto"
			>
				<slot />
			</main>
		</div>
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	.onest-<uniquifier > {
		font-family: "Onest", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}

body {
	background: linear-gradient(
			110deg,
			rgb(0, 0, 0) 12%,
			rgb(19, 19, 19) 88%
		);
		color: #fff;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100vh;
}

	html {
		font-family: "Onest", sans-serif;
	}

	@media (max-width: 639px) {
		main {
			max-width: 400px;
		}
	}

	@media (max-width: 460px) {
		main {
			max-width: 360px;
		}
	}

	@media (max-width: 400px) {
		main {
			max-width: 320px;
		}
	}

	@media (max-width: 345px) {
		main {
			max-width: 300px;
		}
	}

	@media (max-width: 330px) {
		main {
			max-width: 280px;
		}
	}

	@media (max-width: 295px) {
		main {
			max-width: 260px;
		}
	}
</style>
